<footer id="footer">
    <div class="footer-98017--wrapperType">
        <ul class="footer-98017--listType">
            <li>
                <a class="footer-98017--linkType" href="/">Home</a>
            </li>
            <li>
                <a class="footer-98017--linkType" href="/about">About</a>
            </li>
            <li>
                <a class="footer-98017--linkType" href="/leaderboard">Leaderboard</a>
            </li>
            <li>
                <a class="footer-98017--linkType" href="/pricing">Pricing</a>
            </li>
            <li>
                <a class="footer-98017--linkType" href="/privacy-policy">Privacy Policy</a>
            </li>
            <li>
                <a class="footer-98017--linkType" href="/terms">Terms</a>
            </li>
        </ul>
        <p class="footer-98017--descriptionType">All Rights Reserved &copy; Nummergeist 2022.</p>
    </div>
</footer>