{{#if user}}
    <div>User</div>
    {{else}}
        <header>
            <div>
                LOGO
            </div>
            <div>
                <nav>
                    <ul class="topbar-82618--listType">
                        <li>
                            <a class="header-82618--linkType loginButton" href="/login">Log in</a>
                        </li>
                        <li>
                            <a class="header-82618--linkType signupButton" href="/signup">Sign up</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
{{/if}}