{{#section "css"}}
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
{{/section}}
<h1 class="homepage-78031--headerType">Welcome to Nummergeist</h1>
<button id="start-anonymous-game" class="homepage-78031--buttonType" type="button">Play</button>

{{#section "scripts"}}
    <script src="/js/home.js"></script>
{{/section}}