{{#section "css"}}
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
{{/section}}

<h1>Sign up</h1>
<div class="footer-98017--formWrapperType">
    <form class="signupPage-76129--formType">
        <div class="signupPage-76129--formGroupType">
            <label class="signupPage-76129--formLabelType">What's your email address?</label>
            <input class="signupPage-76129--formInputType" type="email" placeholder="Enter your email" />
        </div>
        <div class="signupPage-76129--formGroupType">
            <label class="signupPage-76129--formLabelType">Confirm your email</label>
            <input class="signupPage-76129--formInputType" type="email" placeholder="Enter your email again" />
        </div>
        <div class="signupPage-76129--formGroupType">
            <label class="signupPage-76129--formLabelType">Secure your account</label>
            <input class="signupPage-76129--formInputType" type="password" placeholder="Enter a strong password" />
        </div>
        <div class="signupPage-76129--formGroupType">
            <label class="signupPage-76129--formLabelType">Verify your password</label>
            <input class="signupPage-76129--formInputType" type="password" placeholder="Enter your password again" />
        </div>
        <div class="signupPage-76129--formGroupType">
            <label class="signupPage-76129--formLabelType">What should we call you?</label>
            <input class="signupPage-76129--formInputType" type="text" placeholder="Enter a username" />
        </div>
        <button class="footer-98017--formSignupButtonType" type="submit">Sign up</button>
    </form>
</div>
{{#section "scripts"}}
    <script src="/js/signup.js"></script>
{{/section}}