<main>
    <div class="termsOfServicePage-64391--wrapperType">
        <div class="termsOfServicePage-87611--wrapperType">
            <h1>Terms of Use</h1>
            <ul>
                <li class="termsOfServicePage-12917--listItemType">
                    <div>
                        <h3 class="termsOfServicePage-90761--headerType">Account Information</h3>
                        <p>
                            <em>Registration</em>. You have full discretion to register an account with us. When registering, you may elect to directly
                            register an account with us or through a third party that we support. When you create an account, you understand and
                            acknowledge our terms and conditions along with any privacy policies we employ in connection with the use of our services. The same goes
                            for when creating an account via a third party. You are obliged to familiarize yourself with their terms and conditions as
                            you will be subjected to them. You also understand that creating multiple accounts for the same individual is strictly forbidden.
                        </p>
                        <br />
                        <p>
                            <em>Use of Account</em>. You agree to use your account exclusively for the purpose of using our services. By extension, you agree
                            to not let any third party to use, manipulate, or modify your account for the benefit of services not associated with ours and
                            you agree that you will only use your account for the purpose of our services and/or any lawful activities.
                        </p>
                    </div>
                </li>
                <li class="termsOfServicePage-12917--listItemType">
                    <div>
                        <h3 class="termsOfServicePage-90761--headerType">Moral Obligation</h3>
                        <p>
                            <em>Spirit of Improving</em>. We at <b>Nummergeist</b> are passionate about improving the literacy and skills of every individual
                            in the field mathematics. Thereby, we encourage you to try and challenge yourself with our services and to not resolve to any
                            method that would constitute as cheating. In line with this, you understand that the purpose of our platform is to incite
                            good competition and growth and by extension, when you participate in any of our services, you are required to practice good
                            judgement and honesty.
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="termsOfServicePage-90761--headerType">Nummergeist Cancellation, Refund, and Termination Policy</h3>
                        <p>
                            <em>Spirit of Improving</em>. We at <b>Nummergeist</b> are passionate about improving the literacy and skills of every individual
                            in the field mathematics. Thereby, we encourage you to try and challenge yourself with our services and to not resolve to any
                            method that would constitute as cheating. In line with this, you understand that the purpose of our platform is to incite
                            good competition and growth and by extension, when you participate in any of our services, you are required to practice good
                            judgement and honesty.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
